body {
    color :wheat;
    background:black;
    margin: 0px;
    font-family: "Sorts Mill Goudy", serif;
}

header {
     border: solid 5px wheat;
     padding: 20px;
     font-size: 32px;
     color: rgb(red, green, blue);
}
section {
    background: red;
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}